body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.profile-container {
display: flex;
align-items: center;
max-width: 600px;
margin: 20px auto;
padding: 20px;
background: linear-gradient(135deg, #ff6347, #ff0000);
border-radius: 20px;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
overflow: hidden;
transition: transform 0.3s ease-in-out;
}


.profile-container:hover {
    transform: translateY(-5px);
}

.profile-picture {
    flex: 0 0 auto;
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5);
}

.profile-picture img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.profile-picture:hover img {
    transform: scale(1.05);
}

.profile-info {
    flex: 1;
    color: #fff;
}

.profile-info h2 {
    text-align: left;
    margin-top: 0;
    font-size: 28px;
    color: #fff;
    margin-bottom: 10px;
}

.profile-info p {
    margin: 8px 0;
    font-size: 16px;
    color: #fff;
    display: flex;
    align-items: center;
}

.profile-info p:last-child {
    margin-bottom: 0;
}

.profile-info p i {
    margin-right: 10px;
}

.icon {
    font-size: 20px;
    color: #fff;
    transition: transform 0.3s ease-in-out;
}

.icon:hover {
    transform: scale(1.2);
}


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
h2 {
    color: #333;
    font-weight: 700;
    margin-bottom: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
    color: #555;
    font-weight: 700;
    text-transform: uppercase;
}
td {
    color: #333;
}
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
.image-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 5px;
}
.property-image {
    width: 100%;
    height: auto;
}

.scrollable-tbody {
    height: 100px; /* Set the height of the tbody */
    overflow-y: auto; /* Add vertical scrollbar if content overflows */
}